<nav class="navbar">
    <div class="main-nav">
        <a class="yelp-name" href="./campgrounds/index">YelpCamp</a>
    </div>
    <div class="point-nav" id="">
        <ul class="point-nav">
            <li class="nav">
                <a class="nav-elements" href="./home">HOME</a>
            </li>
            <li class="nav">
                <a class="nav-elements" href="./campgrounds/index">CAMPGROUNDS</a>
            </li>
            <li class="nav">
                <a class="nav-elements" href="./campgrounds/new">NEW CAMPGROUNDS</a>
            </li>
        </ul>
    </div>
</nav>