<!-- <nav class="navbar_wrapper fixed-top">
    <div class="main_nav">
        <a class="yelp-name" href="./campgrounds/index">YelpCamp</a>
    </div>
    <div class="point-nav" id="">
        <ul class="point-nav">
            <li class="nav_items">
                <a class="nav-elements" href="./">HOME</a>
            </li>
            <li class="nav_items">
                <a class="nav-elements" href="./campgrounds">CAMPGROUNDS</a>
            </li>
            <li class="nav_items">
                <a class="nav-elements" href="./campgrounds/new">NEW CAMPGROUND</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar_2_wrapper fixed-left">
  <div class="mainNav_2">
    <p class="mainNav2_logo">Y</p>
    <!-- <img
      class="mainNav2_logo"
      src="/images/Y-Camp-1-png.png"
      alt="Logo"
    /> -->
    <a class="nav-elements" href="./">Home</a>
    <a class="nav-elements" href="./campgrounds/new">New</a>
    <a class="nav-elements" href="./campgrounds">All</a>
  </div>
</nav>
