<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <!-- <img src="../images/SceneBG1.jpg" alt="Lake View"/> -->
    <%= messages %>
    <div>
      <h1>YelpCamp</h1>
      <h2>
        Click <a href="http://localhost:3030/campgrounds">here</a> to view
        campgrounds
      </h2>
    </div>
  </body>
</html>
