<% layout('layouts/boilerplate') %>

<div class="landing_page_body">
  <!-- <div style="height: inherit"> -->
  <img
    class="landing_page_bg"
    src="https://images.unsplash.com/photo-1464547323744-4edd0cd0c746?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt="lake_near_pine_trees"
  />
  <div class="landing_page_content">
    <a class="nav-elements landing_link" href="./campgrounds">Campgrounds</a>
  </div>
  <!-- <div
      style="
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
      "
    ></div> -->
  <!-- </div> -->
</div>

<!-- src="https://images.unsplash.com/photo-1497589062741-c73233cb9b47?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" -->